<!DOCTYPE html>
<html lang="en">
  <%- include ("headAndStyles") %>
  <body>
    <div class="card mb-3" style="text-align: center">
      <img
        style="text-align: center; width: 50%; height: 50%"
        src="../<%= data.imagelogo %> "
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title"><%= data.title %></h5>
        <p class="card-text"><%= data.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= data.createdAt %> </small>
        </p>
      </div>
    </div>
  </body>
</html>
